/* Created by TopStyle Pro Trial Version - www.bradsoft.com */
/* GENERAL */
/* Must include <table> and <td> because some browsers break inheritance rules */
.breadcrumb{
	font-weight: bold;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #5D5D5D;
}
select, input, option{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

/*link styles-------------------------------------------------*/
a:link {
	color: #325F99;
	text-decoration: underline;
}

a:visited {
	color: #325F99;
	text-decoration: underline;
}

a:hover {
	color: #DD5900;
	text-decoration: none;
}

a:active {
	color: #AD9B0C;
	text-decoration: none;
}

/* End general */
/*Buttons---------------------------------------------------------------*/
/*Usage: <A href="" class="buttonorange">Button Text</A>
If using in a <TD>, add height*/

/*When css buttons are in TD, they get cutoff at the bottom
Added this tag to prevent that from happening
*/
TD .buttonorange{
	line-height: 30px;
}

a.buttonorange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 1px 4px 4px 5px;
}

a:link.buttonorange {
	background-color: #FFCC66;
	border-bottom: 1px solid #294366;
	border-left: 1px solid #FFDC93;
	border-right: 1px solid #294366;
	border-top: 1px solid #FFDC93;
	color: #003366;
	text-decoration: none;
}

a:visited.buttonorange {
	background-color: #FFCC66;
	border-bottom: 1px solid #294366;
	border-left: 1px solid #FFDC93;
	border-right: 1px solid #294366;
	border-top: 1px solid #FFDC93;
	color: #003366;
	text-decoration: none;
}

a:hover.buttonorange {
	background-color: #FFDC93;
	border-bottom: 1px solid #294366;
	border-left: 1px solid #FFDC93;
	border-right: 1px solid #294366;
	border-top: 1px solid #FFDC93;
	color: #006699;
	text-decoration: none;
}

a:active.buttonorange {
	background-color: #FFDC93;
	border-bottom: 1px solid #FFDC93;
	border-left: 1px solid #294366;
	border-right: 1px solid #FFDC93;
	border-top: 1px solid #294366;
	color: #006699;
	text-decoration: none;
}

/*When css buttons are in TD, they get cutoff at the bottom
Added this tag to prevent that from happening
*/
TD .buttonblue{
	line-height: 30px;
}

a.buttonblue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 1px 4px 1px 5px;
}

a.buttonblue:link, a.buttonblue:visited {
	background-color: #4D688C;
	border-bottom: 1px solid #294366;
	border-left: 1px solid #B8C6D9;
	border-right: 1px solid #294366;
	border-top: 1px solid #B8C6D9;
	color: #B8C6D9;
	text-decoration: none;
}

a.buttonblue:active {
	background-color: #728BAB;
	border-bottom: 1px solid #B8C6D9;
	border-left: 1px solid #294366;
	border-right: 1px solid #B8C6D9;
	border-top: 1px solid #294366;
	color: #FFFFFF;
	text-decoration: none;
}

a.buttonblue:focus, a.buttonblue:hover {
	background-color: #728BAB;
	border-bottom: 1px solid #294366;
	border-left: 1px solid #B8C6D9;
	border-right: 1px solid #294366;
	border-top: 1px solid #B8C6D9;
	color: #FFFFFF;
	text-decoration: none;
}

a:link.leftmenu {
	background-color: grey;
}

a:link.mi, a:visited.mi {
	color: #B8C6D9;
	text-decoration: none;
}

a:hover.mi, a:active.mi {
	color: #FFFFFF;
	text-decoration: none;
}

body, table, td{
	color: #414141;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
}

/* Div flanking the main context of every page.  Adds spacing between header, left margin, and footer.
Usage: <DIV id="mainBody">Body of html page</DIV>
ID is unique.  Don't reuse in the content of page.
*/
div#mainbody{
	padding-top: 20px;
	padding-left: 10px;
}

div.nav{
	padding-top: 20px;
}

div#tipsbody{
	padding-left: 10px;
	padding-top: 20px;
}

div.error {
	background-color: #F2C3C3;
	border-style: solid;
	border-width: thin;
	border-color: #B22222;
	color: #B22222;
	padding: 3px;
	margin: 20px;
}

/* Detail pages */
/*Usage:  <div class="detailHeader">Some text</div>*/
div.detailheader{
	border-bottom: #728BAB 1px solid;
	color: #4A698C;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0px;
	margin-top: 0px;
	padding-left: 5px;
	text-transform: uppercase;
	width: 600px;
}

div.helpheader{
	border-bottom: #728BAB 1px solid;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: normal;
	letter-spacing: -1px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-transform: lowercase;
	width: 600px;
}

/* End buttons */
/*Home pages---------------------------------------------------------*/
div.sidebartext{
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 2px;
}

form{
	margin-top: 0px;
}

h1{
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: normal;
	letter-spacing: -1px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-transform: lowercase;
}

h2{
	color: #5F7BA0;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

h3{
	color: #344356;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 13px;
}

input, textarea{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
}

li.orange{
	color: #535353;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	list-style: url(../images/dots_three.gif);
	padding: 1px;
}

/*---------------------------------------------------------------------*/
/* Forms-------------------------------------------------------------*/
	table.form{
	background-color: #FAFAFA;
	border-bottom: 1px solid #ABABAB;
	border-left: 1px solid #DADADA;
	border-right: 1px solid #ABABAB;
	border-top: 1px solid #DADADA;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-top: 5px;
}

td.detailkey{
	background-color: #F1F4F8; /*#ECEEFF;*/
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
	padding: 4px;
	text-align: right;
	vertical-align: top;

}

.feedbackform{
	background-color: #F1F4F8;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
}

td.leftmenu{
	border-top: 1px solid #B0C4DE;
}

ul{
	margin-bottom: 5px;
	margin-left: 25px;
	margin-top: 5px;
}

.bold{
	color: #3E3E3E;
	font-weight: bold;
}

.detailtable {
	border-bottom: 1px solid #E6EAF2;
	border-right: 1px solid #E6EAF2;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.detailtable2 {
	border-top: 1px solid #E6EAF2;
	border-right: 1px solid #E6EAF2;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.detailtable3 {
	border-bottom: 1px solid #E6EAF2;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;

}



.error{
	color: #B22222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.form input{
	color: #000000;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	letter-spacing: 0px;
}

.form select{
	color: #000000;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	letter-spacing: 0px;
}

.formheader{
	color: #444444;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0px;
}

/*formLabel example- Select:*/
.formlabel{
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0px;
}

/*formOptions are the datasets, search fields, etc*/
.formoptions{
	color: #484848;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	letter-spacing: 0px;
}

.formsuboptions{
}

.formsubtext{
	color: #484848;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	letter-spacing: 0px;
}

/*formText is any additional text in the form that isn't a label or an option
ie- "items per page"*/
.formtext{
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0px;
}

.formtitle{
	color: #536B8A;
	font: bold 12px/12px Arial,Helvetica;
	margin: 0;
	padding: 0 0 5px 0;
}

.h1 {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: normal;
	letter-spacing: -1px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-transform: lowercase;
}

.h2{
	color: #5F7BA0;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.h3 {
	color: #344356;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 13px;
}

.header1{
	color: #454545;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.header1 a:link{
	color: #454545;
	text-decoration: none;
}

.header1 a:visited{
	color: #454545;
	text-decoration: none;
}

.header1 a:hover{
	color: #DD5900;
	text-decoration: none;
}

.header2 {
	color: #728BAB;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	letter-spacing: .5px;
}

.headertabs{
	background-color: #728BAB;
	color: #E9EDF2;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 0px;
}

.headertabs a:link{
	background-color: #728BAB;
	color: #E9EDF2;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 0px;
	text-decoration: none;
}

.headertabs a:visited{
	background-color: #728BAB;
	color: #E9EDF2;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 0px;
	text-decoration: none;
}

.headertabs a:hover{
	background-color: #728BAB;
	color: #2D3A6A;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 0px;
	text-decoration: none;
}

.headertabsselected{
	background-color: #E9EDF2;
	color: #2D3A6A;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 0px;
}

.headertabsselected a:link{
	background-color: #E9EDF2;
	color: #2D3A6A;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 0px;
	text-decoration: none;
}

.headertabsselected a:visited{
	background-color: #E9EDF2;
	color: #2D3A6A;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 0px;
	text-decoration: none;
}

.headertabsselected a:hover{
	background-color: #E9EDF2;
	color: #2D3A6A;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 0px;
	text-decoration: none;
}

.helppre{
	color: #414141;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	width: 600px;
}

/* End navigation bar */

 /* Footer */
 .legal {
	color: #666666;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	letter-spacing: 0px;
}

.linesep{
	background-color: #BDC7DE;
	line-height: 1px;
}

table.tablesep{
	border:1px solid #F0F2F7;
}
.tablesep td{
	border-bottom:1px solid #F0F2F7;
	padding: 5px;
}

/* End side content bars */
/* End external sources link */
/* list styles */
.listheader {
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	text-align: left;
}

.listresult{
	color: #000000;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
}

/*Login----------------------------------------------------------------*/
.login{
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	font-weight: normal;
}

.loginbox{
	background-color: #F7F8FA;
	border: 1px solid #CCCCCC;
}

.maintext {
	color: #535353;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
}

.maintext_small {
        color: #666666;
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 9px;
        font-weight: normal;
}

.descriptionText {
	font-size: 12px;
	color: #666666;
        font-family: arial, helvetica, sans-serif;
}

.nav_small{
	color: #667F9F;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: -.5px;
	text-transform: uppercase;
}

.nav_small a:link{
	color: #667F9F;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: -.5px;
	text-decoration: none;
	text-transform: uppercase;
}

.nav_small a:visited{
	color: #667F9F;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: -.5px;
	text-decoration: none;
	text-transform: uppercase;
}

.nav_small a:hover{
	color: #FFFFFF;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: -.5px;
	text-decoration: none;
	text-transform: uppercase;
}

.new{
	color: #E06000;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

.panther{
	color: #E06000;
	font-weight: bold;
}

.panther2{
	font-weight: bold;
}

.pathwaytab{
	background-color: #728BAB;
	border-left: 1px solid #B8C6D8;
	border-right: 1px solid #93A8C4;
	border-top: 1px solid #93A8C4;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.pathwaytab a:link{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.pathwaytab a:visited{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.pathwaytab a:hover{
	color: #354559;
	font-weight: bold;
	text-decoration: none;
}

.pathwaytabselected{
	background-color: #F0F3F6;
	border-left: 1px solid #D1D9E3;
	border-right: 1px solid #E9EDF2;
	border-top: 1px solid #D1D9E3;
	color: #626262;
	font-weight: bold;
	padding: 3px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/* End homepage */
/* Links to external sources - AB, shopping cart*/
.product {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
}

.categorytree {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
	line-height: 20px;
}

.productgray {
	color: #D0D0D0;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
}

.search{
	color: #000000;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
}

/* Side content bars */
.sidebarheader {
	color: #FF9900;
	color: #FF9900;
	font: bold 12px/12px Arial,Helvetica;
	margin-bottom: 5px;
	margin-top: 0px;
	padding: 0 0 5px 0;
}

.sidebartext {
	color: #535353;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: .5px;
}

.subheader {
	color: #000080;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 5px;
	margin-top: 0px;
}

/* Navigation bar */
.subheader {
	background-color: #E9EDF2;
	color: #6D6F85;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: 0px;
}

.subheader a:link{
	background-color: #E9EDF2;
	color: #6D6F85;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: 0px;
	text-decoration: none;
}

.subheader a:visited{
	background-color: #E9EDF2;
	color: #6D6F85;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: 0px;
	text-decoration: none;
}

.subheader a:hover{
	background-color: #E9EDF2;
	color: #00376F;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: 0px;
	text-decoration: none;
}

.success{
	color: #2E8B57;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.t1 {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -1px;
}

.t2 {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.t3 {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.table_header_sep {
	border-left: #808080 1px solid;
	color: #333333;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
}

.table_header_sep_sort {
	background-color: #EEEEEE;
	border-left: #808080 1px solid;
	color: #333333;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
}

.tableheader {
	color: #333333;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.td_tabs1a {
	background-color: #728BAB;
	background-image: url(/images/structure/bg_tab1a.gif);
	background-position: top right;
	background-repeat: repeat-x;
	border-bottom: 1px solid #DADADA;
	border-left: 1px solid #B8C6D9;
	border-right: 0px solid #FFFFFF;
	border-top: 0px solid #FFFFFF;
	padding: 2px 10px 2px 10px;
}

.td_tabs1b {
	background-color: #F0F2F5;
	background-image: url(/images/structure/bg_tab1b.gif);
	background-position: top right;
	background-repeat: repeat-x;
	border-bottom: 1px solid #F0F2F5;
	border-left: 1px solid #B8C6D9;
	border-right: 0px solid #FFFFFF;
	border-top: 0px solid #FFFFFF;
	padding: 2px 10px 2px 10px;
}

.td_tabs1c {
	background-color: #FAFAFA;
	background-image: url(/images/structure/bg_tab1c.gif);
	background-position: top right;
	background-repeat: repeat-x;
	border-bottom: 1px solid #FAFAFA;
	border-left: 1px solid #DADADA;
	border-right: 0px solid #FFFFFF;
	border-top: 0px solid #FFFFFF;
	padding: 2px 10px 2px 10px;
}

.tableheaderline{
	 background-color: #728BAB;
	 color: White;
	 border-right: 1px solid buttonshadow;
    border-left: 1px solid buttonhighlight;
    border-bottom: 1px solid buttonshadow;
    border-top: 1px solid buttonhighlight;
	 font-weight: bold;
	 font-size: 11px;
	 font-family: Tahoma;

}



